:root {
  --primary-900: #42307D;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 1280px) {
  .card {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  
  .card:nth-child(odd) .card__gallery {
    grid-column-start: 2;
  }
  .card:nth-child(odd) .card__content {
    grid-column-start: 1;
  }

  .card {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .card__gallery {
    grid-column-start: 1;
    grid-row-start: 1;
  }


  .card__content {
    grid-column-start: 2;
    grid-row-start: 1;
  }


  .card__action {
    grid-column: 1/-1;
    grid-row-start: 2;
  }
}

.card__image {
  border-radius: 0.25rem;
  background-image: var(--ipath);
  background-size: cover;
  cursor: pointer;
  outline: 0.25rem solid transparent;
  width: 100%;
  padding-top: calc(900% / 16);
  box-shadow: 0 0 0.25rem hsla(267, 100%, 25%, 0.5);
}

#mumi-dumi-1:checked ~ .card__image-list .card__image:nth-child(1) {
  grid-column: 1/-1;
  grid-row-start: 1;
  width: 100%;
  box-shadow: 0 0 0.25rem hsla(267, 100%, 25%, 0.25);
  border-radius: 0.25rem;
}

#mumi-dumi-2:checked ~ .card__image-list .card__image:nth-child(2) {
  grid-column: 1/-1;
  grid-row-start: 1;
  width: 100%;
  box-shadow: 0 0 0.25rem hsla(267, 100%, 25%, 0.25);
  border-radius: 0.25rem;
}

#mumi-dumi-3:checked ~ .card__image-list .card__image:nth-child(3) {
  grid-column: 1/-1;
  grid-row-start: 1;
  width: 100%;
  box-shadow: 0 0 0.25rem hsla(267, 100%, 25%, 0.25);
  border-radius: 0.25rem;
}

#mumi-dumi-4:checked ~ .card__image-list .card__image:nth-child(4) {
  grid-column: 1/-1;
  grid-row-start: 1;
  width: 100%;
  box-shadow: 0 0 0.25rem hsla(267, 100%, 25%, 0.25);
  border-radius: 0.25rem;
}

[type="radio"] {
  display: none;
}

.card__image-list {
  display: grid;
  flex-wrap: wrap;
  grid-gap: 0.25rem;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}

.card__title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

.card__info,
.card__title {
  color: var(--primary-900);
}

.card__info {
  padding: 1rem 0;
}

.card__content,
.card__info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card__description {
  font-size: calc(14rem / 16);
  line-height: 1.25rem;
}

.card__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.card__date {
  color: #667085;
  font-size: calc(12rem / 16);
  line-height: calc(18rem / 16);
}
