<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>

    <link rel="stylesheet" href="card.css" />
    <link rel="stylesheet" href="../link/makes-link-look-nice.css" />

    <style>
      body {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
    </style>
  </head>

  <body>
    <div class="card">
      <div class="card__content">
        <div class="card__title">change title</div>
        <div class="card__info">
          <div class="card__description">
            this is a drescription that should be changed whenever someone wants
            to change it so it can be changed.
          </div>

          <div class="card__description">
            this is a drescription that should be changed whenever someone wants
            to change it so it can be changed.
          </div>
        </div>
      </div>

      <div class="card__action">
        <div class="link">
          <div class="link__leading"></div>
          <a href="https://wowdop.com" class="link__text">Change me</a>
          <div class="link__end"></div>
        </div>

        <div class="card__date">14/06/2022</div>
      </div>

      <div class="card__gallery">
        <input type="radio" name="gallery-1" id="mumi-dumi-1" checked />
        <input type="radio" name="gallery-1" id="mumi-dumi-2" />
        <input type="radio" name="gallery-1" id="mumi-dumi-3" />
        <input type="radio" name="gallery-1" id="mumi-dumi-4" />

        <div class="card__image-list">
          <label
            class="card__image"
            for="mumi-dumi-1"
            style="
              --ipath: url(../../asset/image/months-or-decades-of-effort-1.jpg);
            "
          ></label>

          <label
            class="card__image"
            for="mumi-dumi-2"
            style="
              --ipath: url(../../asset/image/1500000000-cars-worldwide.jpg);
            "
          ></label>

          <label
            class="card__image"
            for="mumi-dumi-3"
            style="
              --ipath: url(../../asset/image/one-out-of-3-to-4-will-die-th-3.jpg);
            "
          ></label>

          <label
            class="card__image"
            for="mumi-dumi-4"
            style="
              --ipath: url(../../asset/image/pollution-deaths-research-2.jpg);
            "
          ></label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card__content">
        <div class="card__title">change title</div>
        <div class="card__info">
          <div class="card__description">
            this is a drescription that should be changed whenever someone wants
            to change it so it can be changed.
          </div>

          <div class="card__description">
            this is a drescription that should be changed whenever someone wants
            to change it so it can be changed.
          </div>
        </div>
      </div>

      <div class="card__action">
        <div class="link">
          <div class="link__leading"></div>
          <a href="https://wowdop.com" class="link__text">Change me</a>
          <div class="link__end"></div>
        </div>

        <div class="card__date">14/06/2022</div>
      </div>

      <div class="card__gallery">
        <input type="radio" name="gallery-2" id="mumi-dumi-1-2" checked />
        <input type="radio" name="gallery-2" id="mumi-dumi-2-2" />
        <input type="radio" name="gallery-2" id="mumi-dumi-3-2" />
        <input type="radio" name="gallery-2" id="mumi-dumi-4-2" />

        <div class="card__image-list">
          <label
            class="card__image"
            for="mumi-dumi-1-2"
            style="
              --ipath: url(../../asset/image/months-or-decades-of-effort-1.jpg);
            "
          ></label>

          <label
            class="card__image"
            for="mumi-dumi-2-2"
            style="
              --ipath: url(../../asset/image/1500000000-cars-worldwide.jpg);
            "
          ></label>

          <label
            class="card__image"
            for="mumi-dumi-3-2"
            style="
              --ipath: url(../../asset/image/one-out-of-3-to-4-will-die-th-3.jpg);
            "
          ></label>

          <label
            class="card__image"
            for="mumi-dumi-4-2"
            style="
              --ipath: url(../../asset/image/pollution-deaths-research-2.jpg);
            "
          ></label>
        </div>
      </div>
    </div>

    

  </body>
</html>
