<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card</title>
</head>
<body>
  <div class="card">
    <div class="card__content">
      <div class="card__title">change title</div>
      <div class="card__info">
        <div class="card__description">this is a drescription that should be changed whenever someone wants to change it so it can be changed.</div>
      </div>
    </div>

    <div class="card__action">
      <button>neata</button>
      <div class="card__date">14/06/2022</div>
    </div>
    
    <div class="card__gallery">
      <div class="card__image"></div>
      <div class="card__image"></div>
      <div class="card__image"></div>
      <div class="card__image"></div>
    </div>
  </div>
</body>
</html>
