<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>link</title>
    <link rel="stylesheet" href="makes-link-look-nice.css" />
  </head>

  <body>
    <h1>link</h1>

    <!-- .link>.link__leading+.link__text{Change me}+.link__end -->
    <div class="link">
      <div class="link__leading"></div>
      <div class="link__text">Visit source for more info</div>
      <div class="link__end"></div>
    </div>
  </body>
</html>
