<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>menu</title>
    <link rel="stylesheet" href="menu-looks.css" />
  </head>

  <body>
    <!-- .menu[theme="gray"]>.menu__top>.menu__icon--home+.menu__icon--burger^.menu__body>.menu__title{Change me}+.menu__icon--next -->
    
    <div class="menu" theme="gray">
      <div class="menu__top">
        <div class="menu__icon--home"></div>
        <div class="menu__icon--burger"></div>
      </div>

      <div class="menu__body">
        <div class="menu__title">Elon Musk Saved My Life</div>
        <div class="menu__icon--next"></div>
      </div>
    </div>

    <div class="menu" theme="indigo">
      <div class="menu__top">
        <div class="menu__icon--home"></div>
        <div class="menu__icon--burger"></div>
      </div>

      <div class="menu__body">
        <div class="menu__title">Elon Musk Saved My Life</div>
        <div class="menu__icon--next"></div>
      </div>
    </div>

    <div class="menu" theme="orange">
      <div class="menu__top">
        <div class="menu__icon--home"></div>
        <div class="menu__icon--burger"></div>
      </div>

      <div class="menu__body">
        <div class="menu__title">Elon Musk Saved My Life</div>
        <div class="menu__icon--next"></div>
      </div>
    </div>

    <div class="menu" theme="success">
      <div class="menu__top">
        <div class="menu__icon--home"></div>
        <div class="menu__icon--burger"></div>
      </div>

      <div class="menu__body">
        <div class="menu__title">Elon Musk Saved My Life</div>
        <div class="menu__icon--next"></div>
      </div>
    </div>

    <div class="menu" theme="pink">
      <div class="menu__top">
        <div class="menu__icon--home"></div>
        <div class="menu__icon--burger"></div>
      </div>

      <div class="menu__body">
        <div class="menu__title">Elon Musk Saved My Life</div>
        <div class="menu__icon--next"></div>
      </div>
    </div>

    <div class="menu" theme="blue">
      <div class="menu__top">
        <div class="menu__icon--home"></div>
        <div class="menu__icon--burger"></div>
      </div>

      <div class="menu__body">
        <div class="menu__title">Elon Musk Saved My Life</div>
        <div class="menu__icon--next"></div>
      </div>
    </div>

    <div class="menu" theme="blue-light">
      <div class="menu__top">
        <div class="menu__icon--home"></div>
        <div class="menu__icon--burger"></div>
      </div>

      <div class="menu__body">
        <div class="menu__title">Elon Musk Saved My Life</div>
        <div class="menu__icon--next"></div>
      </div>
    </div>

    <div class="menu" theme="blue-gray">
      <div class="menu__top">
        <div class="menu__icon--home"></div>
        <div class="menu__icon--burger"></div>
      </div>

      <div class="menu__body">
        <div class="menu__title">Elon Musk Saved My Life</div>
        <div class="menu__icon--next"></div>
      </div>
    </div>

    <div class="menu" theme="blue">
      <div class="menu__top">
        <div class="menu__icon--home"></div>
        <div class="menu__icon--close"></div>
      </div>

      <div class="menu__body" theme="orange">
        <div class="menu__title">Elon Musk Saved My Life1</div>
        <div class="menu__icon--next"></div>
      </div>

      <div class="menu__body" theme="pink">
        <div class="menu__title">Elon Musk Saved My Life2</div>
        <div class="menu__icon--next"></div>
      </div>

      <div class="menu__body" theme="indigo">
        <div class="menu__title">Elon Musk Saved My Life3</div>
        <div class="menu__icon--next"></div>
      </div>

      <div class="menu__body" theme="blue" first>
        <div class="menu__title">Elon Musk Saved My Life4</div>
        <div class="menu__icon--next"></div>
      </div>

      <div class="menu__body" theme="blue-light">
        <div class="menu__title">Elon Musk Saved My Life5</div>
        <div class="menu__icon--next"></div>
      </div>

      <div class="menu__body" theme="blue-gray">
        <div class="menu__title">Elon Musk Saved My Life6</div>
        <div class="menu__icon--next"></div>
      </div>

      <div class="menu__body" theme="success">
        <div class="menu__title">Elon Musk Saved My Life7</div>
        <div class="menu__icon--next"></div>
      </div>
    </div>
  </body>
</html>
