/* input checkbox */
#toggle-menu {
  display: none;
}

#toggle-menu:checked ~ div.menu__body {
  display: grid;
}

#toggle-menu:checked + .menu__top .menu__icon--burger::before {
  background-image: url(../../asset/icon/cross.png);
}

/* global */
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  --menu-color-hue: 152;
  --menu-color-saturation: 82%;
  margin: 0;
  background-color: hsl(
    var(--menu-color-hue),
    var(--menu-color-saturation),
    97%
  );

  font-family: Inter;
}

.grid {
  background-color: hsl(
    var(--menu-color-hue),
    var(--menu-color-saturation),
    94%
  );
  height: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

/* layout */

section {
  display: grid;
  grid-gap: 1rem;
}

section > .menu:first-child > .menu__body {
  display: block;
}

@media screen and (min-width: 48rem) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 80rem) {
  section {
    /* grid-template-columns: repeat(3, 1fr); */
    max-width: 80rem;
    margin: 0 auto;
  }
}

section {
  padding: 2rem;
  gap: 1rem;
  /* display: flex;
  flex-direction: column; */
}

.divider {
  height: 3.5rem;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: black
}
